{{#paper-toolbar}}
	<div class="md-toolbar-tools">
		{{#link-to "accounts" class="toolbar-back"}}{{paper-icon icon="arrow-back"}}{{/link-to}}
		<span flex>{{id}}</span>
		{{#paper-button action="deleteAccount"}}{{paper-icon icon="delete"}}{{/paper-button}}
	</div>
{{/paper-toolbar}}
{{#paper-list class="settings-list"}}
	{{#paper-item}}
		{{#paper-tile-left}}
			{{paper-switch checked=enabled}}
		{{/paper-tile-left}}
		{{#paper-tile-content}}
			<h3>{{id}}</h3>
			<p>{{status}}</p>
		{{/paper-tile-content}}
	{{/paper-item}}
	{{paper-divider}}
	<form {{action "editAccount" on="submit"}}>
		{{#paper-item}}
			{{#paper-tile-content}}
				<h3>Jabber ID</h3>
				<p>{{id}}</p>
			{{/paper-tile-content}}
		{{/paper-item}}
		{{paper-divider}}
		{{#paper-item}}
			{{#paper-tile-content}}
				{{paper-text label="Password" type="password" value=password}}
			{{/paper-tile-content}}
		{{/paper-item}}
	</form>
{{/paper-list}}
