<div class="conversation">
	<div class="message-list">
		{{#each messages}}
			{{#paper-content class="message md-whiteframe-z1"}}
				<img {{bind-attr src=conversation.contact.avatar alt=from}} class="face">

				<h4>{{message}}</h4>
				<div class="time" {{bind-attr title=timeFormatted}}>{{time-ago createdAt=time}}</div>
			{{/paper-content}}
		{{/each}}
	</div>
	<form {{action "submit" on="submit"}} class="message-form">
		<md-input-group class="md-default-theme">
			{{input class="message-field" type="text" placeholder="Send message" value=messageToSend}}
		</md-input-group>
	</form>
</div>