{{#paper-list classNames="conversations"}}
	{{#each}}
		{{#link-to "chat" this}}
			{{#paper-item classNames="conversation"}}
				{{#paper-tile-left}}
					<img {{bind-attr src=avatar_url alt=name}} class="face">
				{{/paper-tile-left}}

				{{#paper-tile-content}}
					<h3>{{name}}</h3>
					<h4>{{jid}}</h4>
					<p>{{last_message}}</p>
				{{/paper-tile-content}}
			{{/paper-item}}
		{{/link-to}}
		{{paper-divider}}
	{{/each}}
{{/paper-list}}