{{#paper-list classNames="conversation-list"}}
	{{#each}}
		{{#link-to "conversation" this}}
			{{#paper-item classNames="conversation-item"}}
				{{#paper-tile-left}}
					<img {{bind-attr src=contact.avatar alt=name}} class="face">
				{{/paper-tile-left}}

				{{#paper-tile-content}}
					<h3>{{contact.name}}</h3>
					<h4>{{id}}</h4>
					{{#if lastMessage}}
						<p>{{lastMessage.message}}</p>
					{{/if}}
				{{/paper-tile-content}}
			{{/paper-item}}
		{{/link-to}}
		{{paper-divider inset=true}}
	{{/each}}
{{/paper-list}}