{{#paper-toolbar}}
	<h2 class="md-toolbar-tools">
		{{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
			{{paper-icon icon="menu"}}
		{{/paper-sidenav-toggle}}
		<span>TODO: Title</span>
	</h2>
{{/paper-toolbar}}
{{#paper-list classNames="conversation-list"}}
	{{#each}}
		{{#link-to "conversation" this}}
			{{#paper-item classNames="conversation-item"}}
				{{#paper-tile-left}}
					<img {{bind-attr src=contact.avatar alt=contact.name title=contact.name}} class="face">
				{{/paper-tile-left}}

				{{#paper-tile-content}}
					<h3>{{contact.name}}</h3>
					<h4>{{id}}</h4>
					{{#if lastMessage}}
						<p>{{lastMessage.message}}</p>
					{{/if}}
				{{/paper-tile-content}}
			{{/paper-item}}
		{{/link-to}}
		{{paper-divider inset=true}}
	{{/each}}
{{/paper-list}}